*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}
html{
    scroll-behavior: smooth;
}
:root{
    --el-color:#fff;
}
h1,h2,h3,h4,a,p{
    color: var(--el-color);
}
a{
    text-decoration: none;
}
h1{
    font-size: 2.5rem;
    font-size: 40px;
}
h2{
    font-size: 2rem;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
h3{
    font-weight: 600;
}
p{
    font-weight: 300;
}
.m-t{
    margin-top: 150px;
}
.m-b{
    margin-bottom: 100px;
}
.container{
    width: 70%;
    margin: 0px auto;
    text-align: center;
}
.clearfix:after{
    clear: both;
    content: ' ';
    visibility: hidden;
    display: block;
}
/* Header section */
label input{
    display: none;
}
.contact-bar{
    height: 40px;
    background-color: #eb7620;
    color: #fff;
    width: 100%;
}
.contact-centering{
    width: 70%;
    height: 40px;
    margin: 0px auto;
    text-align: right;
}
.contact-bar ul{
    list-style: none;
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
}
.contact-bar li{
    float: left;
    line-height: 40px;
}
.contact-bar li:not(:first-child){
    margin-left: 20px;
}
.contact-bar li:-webkit-not(:first-child){
    margin-left: 20px;
}

.contact-bar li:-moz-not(:-moz-first-node){
    margin-left: 20px;
}

nav{
    height: 100px;
}
nav h2{
    float: left;
    line-height: 100px;
    display: inline;
}
nav ul{
    float: right;
    line-height: 100px;
}
nav ul li{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    margin: 0 25px;
    position: relative;
}
nav ul li a{
    text-transform: uppercase;
}
nav .active{
    background-color: #eb7620;
    border-radius: 20px;
    padding: 7px 25px;
    color: #fff;
}
nav ul li.passive::after{
    content: ' ';
    height: 3px;
    width: 0;
    background: #eb7620;
    position: absolute;
    left: 0px;
    bottom: 30px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
nav ul li.passive:hover::after{
    width: 100%;
}
#menu__toggle{
    display: none;
}
/* Showcase Area */
.showcase{
    height: calc(120vh - 120px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0 ,0.5)),url('img/office-g75b1c21a8_1920.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0 ,0.5)),url('img/office-g75b1c21a8_1920.jpg');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0 ,0.5)),url('img/office-g75b1c21a8_1920.jpg');
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0 ,0.5)),url('img/office-g75b1c21a8_1920.jpg');
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0 ,0.5)),url('img/office-g75b1c21a8_1920.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 10px solid #eb7620;
    animation: shrink 5s 1;
    -o-animation: shrink 5s 1;
    -ms-animation: shrink 5s 1;
}
@keyframes shrink{
    0%{
        background-size: 110% 110%;
    }
    100%{
        background-size: 100% 100%;
    }
}
.showcase::after{
    background-size: 100% 100%;
}
.showcase-content h1{
    color: #fff;
    letter-spacing: 2px;
    font-size: 65px;
}
.showcase-content p{
    color: #fff;
    margin: 70px 0;
    font-size: 22px;
}
.showcase-content{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    transform: translateY(25vh);
    -moz-transform: translateY(25vh);
    -o-transform: translateY(25vh);
    -ms-transform: translateY(25vh);
    -webkit-transform: translateY(25vh);
}
.showcase-content .btn{
    color:#fff;
    border: 2px solid #fff;
    padding: 10px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
@keyframes bounce{
    0%{
        transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    25%{
        transform: translateY(-12px);
        -moz-transform: translateY(-12px);
        -o-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        -webkit-transform: translateY(-12px);
    }
    50%{
        transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    75%{
        transform: translateY(-12px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        -webkit-transform: translateY(-12px);
    }
    100%{
        transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

}
.showcase-content .btn:hover{
    background-color: #eb7620;
    border: 0;
}
.btn:hover > i{
    animation: bounce 1s ease-in-out;
    -moz-animation: bounce 1s ease-in-out;
    -o-animation: bounce 1s ease-in-out;
    -webkit-animation: bounce 1s ease-in-out;
}
/* Projects */
.projects{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}
.row{
    width: 32.5555%;
}
.project-img{
    margin-bottom: 10px;
}
.row .image img{
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.row .img-text{
    transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translateY(-50%, -50%);
    -o-transform: translateY(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    -webkit-transform: translateY(-50%, -50%);
    text-align: center;
}
.row .project-img{
    position: relative;
}
.project-img:hover img{
    cursor: pointer;
    filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
}
.project-img:hover .img-text{
    opacity: 1;
}
.img-text{
    color: #fff;
    display: block;
    z-index: 10;
}
/* footer */
footer{
    height: 320px;
    margin-top: 100px;
    background: #eb7620;
    text-align: center;
}
.footer-social-icons{
    padding-top: 30px;
}
.footer-social-icons a{
    color: #fff;
    font-size: 40px;
}
.footer-social-icons a:not(:first-child){
    margin-left: 30px;
}
.footer-social-icons a:-webkit-not(:first-child){
    margin-left: 30px;
}
.footer-social-icons a:-moz-not(:-moz-first-node){
    margin-left: 30px;
}
.footer-menu{
    width: 50%;
    margin: 0px auto;
}
.footer-menu ul{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    list-style: none;
}
.footer-menu li{
    float: left;
}
.footer-menu li:not(:first-child){
    margin-left: 20px;
}
.footer-menu li:-webkit-not(:first-child){
    margin-left: 20px;
}
.footer-menu li:-moz-not(:-moz-first-node){
    margin-left: 20px;
}
.footer-menu a{
    display: block;
    color: #fff;
    margin: 30px 0;
    font-size: 18px;
}
.footer-menu .active{
    background-color: #fff;
    border-radius: 20px;
    padding: 0 15px;
    color: #eb7620;
}
.footer-menu ul li.passive::after{
    content: ' ';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: 20px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.footer-menu ul li.passive:hover::after{
    width: 100%;
}
.footer-menu li{
    float: left;
    position: relative;
    margin: 10px 0;
}
footer p{
    color: #fff;
}
.theme ul{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    margin: 0 auto 30px;
    list-style: none;
}
.theme ul li{
    float: left;
    position: relative;
}
.theme ul li a{
    font-size: 18px;
    display: block;
}
.theme .active{
    background-color: #fff;
    border-radius: 20px;
    padding: 0 15px;
    color: #eb7620;
}
.theme li:not(:first-child){
    margin-left: 20px;
}
.theme li:-webkit-not(:first-child){
    margin-left: 20px;
}
.theme li:-moz-not(:-moz-first-node){
    margin-left: 20px;
}
.theme ul li.passive::after{
    content: ' ';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -15px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.theme ul li.passive:hover::after{
    width: 100%;
}

@keyframes wipe-enter{
    0%{
        transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        display: none;
        opacity: 0;
    }
    50%{
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        display: block;
        opacity: 1;
    }
}
@media(prefers-reduced-motion: no-preference){
    .scroll-animation{
        animation: wipe-enter 3s 1;
        -moz-animation: wipe-enter 3s 1;
        -o-animation: wipe-enter 3s 1;
        -webkit-animation: wipe-enter 3s 1;
    }
}